
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-style {
  background-color:#FFF7F0;
  border-color: #5F285E;
  border-style: dashed;
  padding: 4%;
  padding-inline: 1rem;
  border-width: 2px;
  font-size: 24px;
  font: poppins;
  color:#5F285E;
}

/* Dashboard Styling */
.grid-background {
  width: 100%;
  place-content: center;
  padding: 10px;
  background-color: #FFF7F0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #371447;
  border-style: dashed;
  border-width: 2px;
  border-color: #FFF7F0;
  font-family: serif;
  font-size: medium;
}

.grid-container > div {
  background-color: #FFF7F0; 
  border-style: dashed;
  border-color: #5F285E;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font: poppins;
  color: #5F285E;
  width: 100%;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border-right-width: 2px;
}
.item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  border-right-width: 2px;
}
.item3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  border-right-width: 2px;
  border-top-width: 2px;
}
.item4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
}

/* Stats Page styling */
.admin-grid {
  width: 20vw;
  float: right;
}

.contain-box {
  position: fixed;
  height: 60vh;
  width: 60vw;
  background-color: #371447;
  margin-left: 15vw;
  margin-top: 280px;
}

.stat-container {
  width: 100%;
  place-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px 40px 10px 10px;
}

.node-search{
  background-color: #FFF7F0; 
  padding: 10px;
  width: fit-content;
  float: left;
}

.scrolling-list {
  padding: 10px;
  margin: 0px;
  flex: auto;
}

.stat1, .stat2, .stat3, .stat4, .border-box {
  background-color: #FFF7F0; 
  margin: 10px 10px 10px 10px;
  padding: 10px;
  width: 100%;
}

.box, .list-box {
  background-color: #FFF7F0; 
  margin: 80px 10px 10px 40px;
  padding: 10px;
  width: fit-content;
}
.list-box {
  overflow: auto;
  background-color: #FFF7F0;
  margin: 0px;
  padding: 0px;
}
.box {
  float: left;
}
.wrapper-box {
  background-color: #FFF7F0;
  width: fit-content;
  overflow:auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #5F285E;
}

.border-box {
  height: 80%;
  background-color: #FFF7F0; 
  margin: 10px 10px 10px 10px;
  padding: 10px;
  width: 100%;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}

.legend {
  font-family: serif;
  font-style: bold;
  font-size: 20px;
}

.stat-text {
  padding: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #5F285E;
  text-align: center;
  font-family: serif;
  font-size: 28px;
  background-color: #FFF7F0; 
  color: #5F285E;
}
.stat-text-op {
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  font-style: bold;
  color: #5F285E; 
}

.stat1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.stat2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.stat3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.stat4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Dashboard styling for mobile view */
@media screen and (max-width: 768px) {
  .grid-background {
    width: auto;
  }
  .contain-box {
    position: absolute;
    height: 500px;
    width: 80vw;
    background-color: #371447;
    margin-left: 10vw;
    margin-top: 220px;
    margin-bottom: 10px;
  }
  .stat-grid-graph {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .stat-text {
    font-size: 15px;
  }
  .admin-grid {
    width: fit-content;
    padding-right: 20%;
    padding-top: 30%;
    margin-top: 90px;
  }
  .node-search {
    margin-left: 40px;
  }
  .box {
    background-color: #FFF7F0; 
    margin: 80px 10px 10px 40px;
    padding: 10px;
    width: fit-content;
    float: left;
  }
  .legend {
    font-size: 15px;
  }
  .stat-container {
    float: none;
    padding: 0px;
    padding-top: 60vw;
  }
  .stat1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .stat2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .stat3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .stat4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .border-box {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    border-right-width: 0px;
  }
  .item3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-right-width: 0px;
  }
  .item4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-width: 2px;
  }
}