
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-style {
  background-color:#FFF7F0;
  border-color: #5F285E;
  border-style: dashed;
  padding: 4%;
  padding-inline: 1rem;
  border-width: 2px;
  font-size: 24px;
  font: poppins;
  color:#5F285E;
}

/* Dashboard Styling */
.grid-background {
  width: 100%;
  place-content: center;
  padding: 10px;
  background-color: #FFF7F0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #371447;
  border-style: dashed;
  border-width: 2px;
  border-color: #FFF7F0;
  font-family: serif;
  font-size: medium;
}

.grid-container > div {
  background-color: #FFF7F0; 
  border-style: dashed;
  border-color: #5F285E;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font: poppins;
  color: #5F285E;
  width: 100%;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border-right-width: 2px;
}
.item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  border-right-width: 2px;
}
.item3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  border-right-width: 2px;
  border-top-width: 2px;
}
.item4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
}

/* Stats Page styling */
.admin-grid {
  width: fit-content;
  float: right;
}

.stat-container {
  width: 100%;
  place-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 80px 40px 10px 10px;
}

.node-search{
  width: 100%;
  place-content: center;
  padding: 10px 40px 10px 10px;
  margin-left: 10px;
}

.stat1, .stat2, .stat3, .stat4 {
  background-color: #FFF7F0; 
  margin: 10px 10px 10px 10px;
  padding: 10px;
  width: 100%;
}

.box {
  background-color: #FFF7F0; 
  margin: 80px 10px 10px 40px;
  padding: 10px;
  width: fit-content;
  float: left;
}

.legend {
  font-family: serif;
  font-style: bold;
  font-size: 20px;
}

.stat-text {
  padding: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #5F285E;
  text-align: center;
  font-family: serif;
  font-size: 28px;
  background-color: #FFF7F0; 
  color: #5F285E;
}
.stat-text-op {
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  font-family: serif;
  font-size: 18px;
  color: #FFF7F0; 
}

.stat1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.stat2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.stat3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.stat4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Dashboard styling for mobile view */
@media screen and (max-width: 768px) {
  .grid-background {
    width: auto;
  }
  .stat-grid-graph {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .stat-text {
    font-size: 15px;
  }
  .admin-grid {
    width: fit-content;
    /*z-index always above graph?!..
    when ... position: sticky
    BUT trouble fitting stat box*/
    padding-right: 20%;
    padding-top: 30%;
  }
  .node-search {
    margin-left: 40px;
  }
  .box {
    background-color: #FFF7F0; 
    margin: 80px 10px 10px 40px;
    padding: 10px;
    width: fit-content;
    float: left;
  }
  .legend {
    font-size: 15px;
  }
  .stat1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .stat2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .stat3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .stat4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    border-right-width: 0px;
  }
  .item3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-right-width: 0px;
  }
  .item4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-width: 2px;
  }
}